@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root {
    --main-background-color: #FDEDD6;
    --elements-color: #3D2530;
    --main-text-color: #18020C;
    --selection-color: #98E587;
    --selected-color: #043C31;
}

::selection {
    background: var(--selection-color);
    color: var(--selected-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    background: url("../pictures/background.png") no-repeat left center fixed;
    background-size: cover;
    color: var(--main-text-color);
    
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0 30px 0;
}

main {
    text-align: center;
    width: 70%;

    align-self: flex-end;
}

button {
    border: none;
    border-radius: 100px;
    font-size: 25px;
    padding: 9px 12px 7px 14px;
    background-color: var(--elements-color);
    color: var(--main-background-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.5);
}

button:active {
    margin: 2px 0 0 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.5);
}

/*Beautify the select inputs*/

.select-container {
    position: relative;
    margin: 50px auto;
    width: 200px;
}
.select-container select {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--elements-color);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}
.select-container .label {
    position: absolute;
    top: -20px;
    left: 0;
    color: var(--main-text-color);
    font-size: 16px;
}
.select-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--main-text-color);
  }

/*Beautify the number inputs*/

.input-container {
  position: relative;
  margin: 50px auto;
  width: 200px;
}
.input-container input {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--elements-color);
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}
.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--elements-color);
  transition: all 0.3s ease;
  pointer-events: none;
}
.input-container input:focus ~ .label, .input-container input:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: var(--main-text-color);
}
.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--main-text-color);
}

/*Make the tool responsive*/

@media only screen and (max-width: 767px) {
    body {background: var(--main-background-color);}
    main {width: 100%;}
    h1 {
        font-size: 35px;
        margin: 50px 30px;
    }
    .select-container, .input-container {margin: 40px auto;}
}